<div class="content">
    <div class="cards">
        <div class="card">
            <div class="box">
                <h1>30200 </h1>
                <h3>All Gamings</h3>
            </div>
            <div class="icon-case">
                <img src="assets/income.png" alt="">
            </div>
        </div>
        <div class="card">
            <div class="box">
                <h1>145</h1>
                <h3>Task</h3>
            </div>
            <div class="icon-case">
                <img src="assets/teachers.png" alt="">
            </div>
        </div>
        <div class="card">
            <div class="box">
                <h1>290+</h1>
                <h3>Page Views</h3>
            </div>
            <div class="icon-case">
                <img src="assets/info.png" alt="">
            </div>
        </div>
        <div class="card">
            <div class="box">
                <h1>500</h1>
                <h3>Downloads</h3>
            </div>
            <div class="icon-case">
                <img src="assets/students.png" alt="">
            </div>
        </div>
        
    </div>
</div>