<div class="side-menu">
    <div class="brand-name">
        <h1>Materially</h1>
    </div>
    <ul>
        <li> <img src="assets/dashboard (2).png" alt="">&nbsp; Dashboard</li>
        <li><img src="assets/reading-book (1).png" alt="">&nbsp; Student</li>
        <li><img src="assets/teacher2.png" alt="">&nbsp; Teacher</li>
        <li><img src="assets/school.png" alt="">&nbsp; School</li>
        <li><img src="assets/payment.png" alt="">&nbsp; Income</li>
        <li><img src="assets/settings.png" alt="">&nbsp; Help</li>
    </ul>
</div>